name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos-13:
    name: macOS 13 (Xcode ${{ matrix.xcode }})
    runs-on: macOS-13
    strategy:
      matrix:
        xcode:
          - '14.3.1'
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Print Swift version
        run: swift --version
      - name: Run tests (Swift)
        run: make test-swift
      - name: Run tests (platforms)
        run: make test-platforms

  macos-12:
    name: macOS 12 (Xcode ${{ matrix.xcode }})
    runs-on: macOS-12
    strategy:
      matrix:
        xcode:
          - '13.3.1'
          - '13.4.1'
          - '14.0.1'
          - '14.1'
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Print Swift version
        run: swift --version
      - name: Run tests (Swift)
        run: make test-swift
      - name: Run tests (platforms)
        run: make test-platforms

  linux:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift:
          - 5.5
          - 5.6
          - 5.7
          - 5.8
    steps:
      - uses: actions/checkout@v3
      - name: Run tests
        run: make test-linux SWIFT_VERSION=${{ matrix.swift }}

  wasm:
    name: SwiftWasm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: swiftwasm/swiftwasm-action@v5.8
        with:
          shell-action: carton test --environment node

  windows:
    name: Windows
    strategy:
      matrix:
        os: [windows-latest]
        config: ['debug', 'release']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-5.8.1-release
          tag: 5.8.1-RELEASE
      - uses: actions/checkout@v3
      - name: Build All Configurations
        run: swift build -c ${{ matrix.config }}
      - name: Run tests
        run: swift test
