name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  macos:
    name: MacOS (Xcode ${{ matrix.xcode }}${{ matrix.experimental-build-system && ', experimental build system' || '' }})
    runs-on: macOS-11.0
    strategy:
      matrix:
        xcode:
          - '12.4'
          - '12.5.1'
          - '13.0'
          - '13.1'
          - '13.2.1'
        experimental-build-system: [false]
        include:
          - xcode: '13.2.1'
            experimental-build-system: true
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Enable Experimental Build System
        if: ${{ matrix.experimental-build-system }}
        run: defaults write com.apple.dt.XCBuild EnableSwiftBuildSystemIntegration 1
      - name: Print Swift version
        run: swift --version
      - name: Run tests (Swift)
        run: make test-swift
      - name: Run tests (platforms)
        run: make test-platforms

  linux:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift:
          - 5.3
          - 5.4
          - 5.5
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: make test-linux SWIFT_VERSION=${{ matrix.swift }}

  #windows:
  #  name: Windows
  #  runs-on: windows-latest
  #  steps:
  #    - uses: compnerd/gha-setup-swift@main
  #      with:
  #        branch: swift-5.5-release
  #        tag: 5.5-RELEASE
  #
  #    - uses: actions/checkout@v2
  #    - run: swift test && swift build --configuration release
