name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos-26:
    runs-on: macos-26
    strategy:
      matrix:
        xcode:
          - '26.2'
    steps:
      - uses: actions/checkout@v5
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Print Swift version
        run: swift --version
      - name: Run tests (platforms)
        run: make test-platforms

  linux:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift:
          - '6.1.3'
          - '6.2.3'
    steps:
      - uses: actions/checkout@v5
      - name: Install Swift ${{ matrix.swift }}
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift }}
      - name: Print Swift version
        run: swift --version
      - name: Run tests
        run: make test-swift

  wasm:
    name: Wasm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Swift 6.2.3
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: '6.2.3'
      - uses: bytecodealliance/actions/wasmtime/setup@v1
      - name: Install Swift SDK for WebAssembly
        run: |
          set -ex
          swift sdk install https://download.swift.org/swift-6.2.3-release/wasm-sdk/swift-6.2.3-RELEASE/swift-6.2.3-RELEASE_wasm.artifactbundle.tar.gz --checksum 394040ecd5260e68bb02f6c20aeede733b9b90702c2204e178f3e42413edad2a

      - name: Build
        run: swift build --swift-sdk swift-6.2.3-RELEASE_wasm -Xlinker -z -Xlinker stack-size=$((1024 * 1024))
