name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  macos:
    name: MacOS
    runs-on: macOS-11.0
    strategy:
      matrix:
        xcode:
          - '12.4'
          - '12.5.1'
          - '13.0'
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Print Swift version
        run: swift --version
      - name: Run tests (Swift)
        run: make test-swift
      - name: Run tests (platforms)
        run: make test-platforms

  linux:
    name: Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift:
          - 5.3
          - 5.4
          - 5.5
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: make test-linux SWIFT_VERSION=${{ matrix.swift }}

  windows:
    name: Windows
    runs-on: windows-latest
    strategy:
      matrix:
        swift:
          #- 5.3
          - 5.4
          - 5.5
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - name: Install Swift & Run tests
        uses: MaxDesiatov/swift-windows-action@v1
        with:
          shell-action: swift test && swift build --configuration release
          swift-version: ${{ matrix.swift }}
